#main {
    position: relative;
    width: 1200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
#second {
    position: relative;
    width: 650px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: -250px;
    left: 440px;
}
#introduce {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 200px;
    left: 210px;
    font-size: 40px;
}
#quest {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 200px;
    left: 1170px;
    font-size: 40px;
}
#twitter {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 460px;
    left: 240px;
    font-size: 40px;
}
#flea {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 460px;
    left: 1200px;
    font-size: 40px;
}