#main {
    position: relative;
    width: 1200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
#second {
    position: relative;
    width: 650px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: -350px;
    left: 630px;
}
#introduce {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 150px;
    left: 1370px;
    font-size: 40px;
}
#quest {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 280px;
    left: 1370px;
    font-size: 40px;
}
#twitter {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 410px;
    left: 1370px;
    font-size: 40px;
}
#flea {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 540px;
    left: 1370px;
    font-size: 40px;
}
#shopping {
    position: relative;
    width: 650px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 50px;
    left: 1700px;
}
.sub1 {
    position: absolute;
    top: 170px;
    left: 150px;
}
.sub2 {
    position: absolute;
    top: 300px;
    left: 150px;
}
.sub3 {
    position: absolute;
    top: 430px;
    left: 150px;
}
.sub4 {
    position: absolute;
    top: 560px;
    left: 150px;
}