#main {
    position: relative;
    width: 1200px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
#second {
    position: relative;
    width: 650px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: -250px;
    left: 630px;
}
#introduce {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 200px;
    left: 310px;
    font-size: 40px;
}
#quest {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 200px;
    left: 1370px;
    font-size: 40px;
}
#twitter {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 460px;
    left: 340px;
    font-size: 40px;
}
#flea {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 460px;
    left: 1400px;
    font-size: 40px;
}
#shopping {
    position: relative;
    width: 650px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: absolute;
    top: 50px;
    left: 1700px;
}